<!DOCTYPE html>
<html lang="en">
<head>
  <title>WEBKIOSK-LITE</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
</head>
<style>
    h2{
        font-family: 'ZCOOL XiaoWei', serif;
    }
</style>
<body>
    <blockquote class="blockquote text-center">
        <h2 class="mb-0" id="high-text">LOGOUT</h2>
    </blockquote>
</body>
</html>